# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
.idea/
/dataSources/
/dataSources.local.xml
# Java typical ignores
*.class
*.jar
*.war
*.ear

# OS junk
.DS_Store
Thumbs.db